@import '../../assets/Global.scss';

#social-link-list {
    list-style-type: none;
    width: 400px;
    flex-direction: row;
    align-items: center;
    margin: 0;
    li {
        height: 100%;
        width: 10%;
        cursor: pointer;
        .icon {
            width: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width:$mobileView){

    #social-link-list{
        width: 100vw;
        li{
            margin: auto;
        }
    }
}