#search-bar {
    width: fit-content;
    margin: auto;
    height: 2em;
    position: relative;

    overflow: hidden;

    label {
        border-bottom: 3px solid rgb(71, 144, 255);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

        #image-container {
            width: fit-content;
            height: 80%;

            img {
                height: 100%;
            }
        }

        input {
            border: none;
            outline: none;

        }
    }

    #left-line,
    #right-line {
        content: " ";
        position: absolute;
        width: 50%;
        bottom: 0;
        border-bottom: 3px solid black;
        transition: all 0.5s ease;
    }

    #right-line {
        left: 0%;
    }

    #left-line {
        right: 0%;
    }

}