#contact {
    height: 80vh;
    width: 100%;
    background-image: url('../../img/contactBackgroundImage.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: " ";
        height: 100%;
        width: 100%;
        background-color: rgba(102, 99, 99, 0.5);
        pointer-events: none;
    }

    #about-card {
        z-index: 9;
        flex-direction: column;
        padding: 6%;
        height:70%;
        justify-content: space-between;
        align-items: center;

        #main-section{
            flex-direction: column;

            img {
                height: 300px;
                width: 300px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        // my name
        h1 {
            font-size: 40px;
            letter-spacing: 1px;
            color: white;
        }

        // about text
        p {
            margin-left: 5%;
            // width: 200px;
            max-width: 400px;
            word-wrap: normal;
            color: white;
            font-size: 1.6em;
            font-weight: 700;
        }


    }
}


@media (max-width:480px) {
    #contact {
        height: 70vh;
        #about-card {
            // min-height: 500px;
            height: 70%;
            justify-content: space-evenly;
            // padding: auto;

            #main-section {
                img {
                    margin: auto;
                    height: 250px;
                    width: 250px;
                }
            }
            p{
                padding: 5% 0;
                // margin-left:4%
            }
        }
    }
}