#contact {
    height: 80vh;
    background-image: url('../../img/contactBackgroundImage.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: " ";
        height: 100%;
        width: 100%;
        background-color: rgba(102, 99, 99, 0.5);
        pointer-events: none;
    }
}
