.my-skillset {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 80%;
    height: 10vh;
    // animation: renderElement 2s ;
    
    
    & > #skills{
        position: absolute;
        width: 80%;
        height:15%;
        // border:2px solid black;
        display: flex;
        // top:5%;
        // animation: slide 2s ease-in;
        img {
            // border:2px solid black;
            // position: absolute;
            // top:10px;
            // border:2px solid black;
            margin: auto;
            height: 10vh;
        }
    }
}

@keyframes slide{
    from{
        // top:10vh
    }
    to{
        // top:auto;
    }
}