.my-skillset {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: 98%;
    height: 10vh;
    
    
    & > #skills{
        position: absolute;
        width: 100%;
        height:10%;
        display: flex;
        img {
            margin: auto;
            height: 90%;
        }
    }
}

@keyframes slide{
    from{
        // top:10vh
    }
    to{
        // top:auto;
    }
}