.my-skillset {
    // border: 2px solid black;
    margin: auto;
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    // display: inline-block;
    width: 80%;
    height: 10vh;
    // position: absolute;
    animation: renderElement 2s ;

    img {
        // position: absolute;
        margin: auto;
        height: 10vh;
    }
}