@import "../../assets/Animations.scss";
@import "../../assets/Variables.scss";

//Basic Navigation styles
.navigation {
    height: 6vh;
    min-height: 51px;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-position: top;
    background-color: $main-color;
    background-position: center top;
    padding: 0 5vw;
    z-index: 10;
    box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.5);
    transition: display 1s ease-in;
    overflow: hidden;

    #links {
        width: auto;

        #navbar-github-linkedin {
            width: 5vw;
            margin: auto;

            .links {
                height: 10%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        // float: right;
    }


    //Website name styles
    #website-name {
        width: auto;
        pointer-events: none;
        font-family: Helvetica, sans-serif;
        text-shadow: 4px 4px 4px rgb(39, 39, 39);
        color: white;
        letter-spacing: 2px;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;

    }


    #links{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    li {
        margin: auto 2vw;
        list-style-type: none;
        color: white;

        &:hover {
            color: rgb(177, 177, 177);
        }
    }

    //Arrange the links according to screen size
    div {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;

        .nav-link {
            cursor: pointer;
            // display: none;
            // color: white;
            font-weight: 400;
            font-size: 1.2rem;
            text-decoration: none;
        }
    }
}

// Mobile navigation for smartphones
@media (max-width: 900px) {
    .navigation {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 5vh;
        padding:0;
        overflow: visible;

        #toggle-button {
            display: flex;

            .button-line {
                height: 20%;
                width: 100%;

                hr {
                    border: none;
                    height: 3px;
                    background-color: white;
                }
            }
        }

        #website-name {
            display: none;
        }

        #links {
            position: absolute;
            top: 6vh;
            left: -100%;
            text-align: center;
            background-color: $main-color;
            height: 94vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            transition: all 0.7s ease-in;

            #navbar-github-linkedin {
                .links {
                    display: none;
                }
            }
        }
    }
}
