@import '../../assets/Animations.scss';
@import '../../assets/Variables.scss';

.navigation,
#toggle-navigation {
    height: 5vh;
    min-height: 51px;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-position: top;
    background-color: $main-color;
    background-position: center top;
    padding: 0 5vw;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba($color: #272727, $alpha: 0.5);
    transition: display 1s ease-in;
    overflow: hidden;

    #toggle-button {
        display: none;
    }

    & #website-name {
        pointer-events: none;
        font-family: Helvetica, sans-serif;
        text-shadow: 4px 4px 4px rgb(39, 39, 39);
        color: white;
        // border:2px solid black;
        letter-spacing: 2px;
    }

    li {
        margin: auto 2vw;
        list-style-type: none;
        color: white;


        &:hover {
            color: rgb(177, 177, 177);
        }

    }

    div {
        display: block;
        // border: 2px solid white;
        width: 100%;
        display: flex;
        flex-direction: row;

        .nav-link {
            cursor: pointer;
            // display: none;
            // color: white;
            font-weight: 400;
            font-size: 1.2rem;
            text-decoration: none;

        }
    }





}


#toggle-navigation {
    display: none;
}

// @import '../../assets/Variables.scss';
// Mobile navigation for smartphones
@media screen and (max-width: 960px) {

    .navigation {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 5vh;
        overflow: visible;

        #toggle-button {
            margin: auto 0;
            border: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 10%;
            max-width: 40px;
            height: 100%;
            overflow: hidden;
            background-color: transparent;
            outline: none;

            .button-line {
                height: 20%;
                width: 100%;

                hr {
                    border: none;
                    height: 3px;
                    background-color: white;
                }
            }
        }

        #website-name {
            display: none;
        }

        #links {
            position: absolute;
            // z-index: 999;
            top: 5vh;
            // bottom: -00%;
            left: -100%;
            text-align: center;
            background-color: $main-color;
            height: 95vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            transition: all 0.7s ease-in;
            // animation: 3s linear slidein;
            // display: none;
        }


    }



}