$main-color: #443b3b;

.navigation,
#toggle-navigation {
    height: 5vh;
    min-height: 51px;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-position: top;
    background-color: $main-color;
    background-repeat: none;
    background-position: center top;
    background-color: none;
    padding: 0 5vw;
    z-index: 10;
    box-shadow: 5px 5px 10px rgba($color: #272727, $alpha: 0.5);
    transition: display 1s ease-in;
    overflow: hidden;

    li {
        margin: auto 2vw;
        list-style-type: none;

        &:nth-child(1) {
            pointer-events: none;
            font-family: Helvetica, sans-serif;
            text-shadow: 4px 4px 4px rgb(39, 39, 39);
            color: white;
            // border:2px solid black;
            letter-spacing: 2px;
        }

        .nav-link {
            cursor: pointer;
            // display: none;
            color: white;
            font-weight: 400;
            font-size: 1.2rem;
            text-decoration: none;

            &:hover {
                color: rgb(177, 177, 177);
            }
        }
    }





}

#toggle-navigation {
    display: none;
}

@keyframes show {

    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes appear {
    0% {
        top: -4vh;

    }

    100% {
        top: 0px;
    }
}
