section {
    display: flex;
    height: 95vh;
    background-color: #595252;

    .name {
        height:10vh;
        margin: auto;
        position: relative;
        h1 {
            margin: auto;
            font-size: 3rem;
            color: white;
            font-weight: 400;
            // type snimation
            animation: type 1s steps(15);
            overflow: hidden;
            white-space: nowrap;
            width: 12.5ch;
            border-right: 4px solid white;
        }

        .links {
            height: 100%;
            text-align: center;
            margin-top:0px;
            animation-delay: 3s;
            animation: show 2s;
            position: relative;
            overflow:hidden;
            width: 100%;
            a {
                font-size: 1em;
                padding: 0 2em;
                text-decoration: none;
                color:white;
                #github{
                    width: 100%;
                    height:100%;
                    content: url('../../img/github/GitHub-Mark-Light-32px.png');
                    &:hover{
                        content:url('../../img/github/GitHub-Mark-32px.png')
                    }
                }
                .linkedin{
                    width: 20px;
                    height:20px;

                    color:white;
                    content:url('../../img/linkedin/linkedin-3-32.png');
                    &:hover{
                        // filter: greyscale(0);
                        content: url('../../img/linkedin/32px-LinkedIn_logo_In-Black.svg.png');
                    }
                }

            }

        }

        @keyframes show{
            0%{
                opacity:0%;
                margin-top:30px
            }
        
            100%{
                opacity:100%;
                margin-top:0px;
            }
        }

        @keyframes type {
            0% {
                width: 0ch;
            }

            100% {
                width: 12.5ch;
            }
        }
    }
}