@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#home {
    display: flex;
    height: 95vh;
    width: 100%;
    position: relative;
    // background-color: rgba(89, 82, 82, 0.9);

    background-image: url('../../img/homeBackgroundImage_opt.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    z-index: 2;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        background-image: none;
        background-color: rgba(102, 99, 99, 0.7);
        left: 0;
        top: 0;
        height: 100%;
        background-size: contain;
        width: 100%;
        z-index: 2;
    }

    .name {
        word-spacing: -1em;
        height: 10vh;
        max-height: 200px;
        min-height: 100px;
        margin: auto;
        position: relative;
        z-index: 3;

        h1 {
            height: 65%;
            margin: auto;
            font-size: 4rem;
            color: white;
            font-weight: 400;
            text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
            animation: type 1s steps(15);
            overflow: hidden;
            white-space: nowrap;
            width: 13.6ch;
            letter-spacing: -1px;
            border-right: 4px solid white;
            font-family: monospace;


            // transform:;            
        }

        .links {
            height: 100%;
            text-align: center;
            margin-top: 3px;
            animation: show 2s;
            position: relative;
            overflow: hidden;
            width: 100%;

            a {
                font-size: 1em;
                padding: 0 2em;
                text-decoration: none;
                color: white;
                image-rendering: optimizeQuality;

                #github {
                    width: 100%;
                    height: 100%;
                    content: url('../../img/github/GitHub-Mark-Light-32px.png');

                    &:hover {

                        content: url('../../img/github/GitHub-Mark-32px.png')
                    }
                }

                .linkedin {
                    width: 20p;
                    height: 20px;
                    color: white;
                    content: url('../../img/linkedin/linkedin-3-32.png');

                    &:hover {
                        // filter: greyscale(0);
                        content: url('../../img/linkedin/32px-LinkedIn_logo_In-Black.svg.png');
                    }
                }
            }
        }

        @keyframes show {

            0% {
                opacity: 0%;
                margin-top: 30px
            }

            100% {
                opacity: 100%;
                margin-top: 3px;
            }
        }

        @keyframes type {
            0% {
                width: 0ch;
            }

            100% {
                width: 14ch;

            }

        }
    }
}


.downArrow {
    margin: auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    top: 88vh;
    position: absolute;
    color: white;
    font-weight: 800;
    z-index: 3;
    font-size: 40px;
    font-stretch: 200%s;
    transform: translateY(0);
    transition: opacity 2s ease-in;
    animation: float 2s ease-in-out infinite;

}


@media screen and (max-width: 600px) {
    #home {
        .name {
            h1 {
                font-size: 3.9rem;

            }
        }
    }
}

@media screen and (max-width: 480px) {
    #home {
        .name {
            h1 {
                font-size: 3.5rem;

            }
        }
    }
}



@keyframes float {

    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}