/* Shared component */
.Slider-enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .Slider-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
  }
  
  .Slider-exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .Slider-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 300ms;
  }
  
  .myElement {
    width: 300px;
    overflow: hidden;
    background-color: #45b3e3;
    color: #fff;
    margin: 20px;
    border: 1px solid #000;
  }
  