@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
@import '../assets/Global.scss';

#navigation {
    padding: 0 $globalPadding;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    h1 {
        font-family: 'Poppins', Arial;
        font-weight: 600;
        letter-spacing: 2px;
        margin: auto 0;
        width: auto;
        color: transparent;
        -webkit-text-stroke: 2px black;
        transition: all 0.5s ease;

        &:hover {
            color: black;
        }
    }
    
}

@media (max-width:$mobileView){
    #navigation{
        padding: 0 $globalPaddingMobile;
    }
}

