@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import '../assets/Global.scss';

#navigation {
    padding: 0 $globalPadding;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-family: 'Poppins', Arial;
        font-weight: 600;
        letter-spacing: 2px;
        margin: auto 0;
        width: auto;
        color: transparent;
        -webkit-text-stroke: 2px black;
        transition: all 0.5s ease;

        &:hover {
            color: black;
        }
    }

    #button-social-container {
        height: 100%;
        width: 35%;

        .nav-social-media-link {
            right: 50%;
            height: 100%;
            float: left;

            .social-link-item {
                height: 50%;

                .icon {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }


}

@media (max-width:$mobileView) {
    #navigation {
        padding: 0 $globalPaddingMobile;

        .nav-social-media-link {
            display: none;
        }
    }
}