/*********************************
***********Responsive*************
***********Design*****************
***********Breakpoints************
********************************/
$mobileView: 480px;
$desktopView: 768px;

/*********************************
***********Variables*************
********************************/
$globalPaddingDesktop:70px;

$globalPaddingMobile:20px;

$globalPadding: $globalPaddingDesktop;


/*********************************
***********Style Variables*******
********************************/

$accentColor: #e04242;

/*********************************
***********Style Classes*********
********************************/
.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // border: 2px solid black;
}

