/*********************************
***********Responsive*************
***********Design*****************
***********Breakpoints************
********************************/
$mobileView: 480px;
$desktopView: 768px;

/*********************************
***********Variables*************
********************************/
$globalPaddingDesktop:70px;

$globalPaddingMobile:20px;

$globalPadding: $globalPaddingDesktop;

/*********************************
***********STYLES****************
********************************/
.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // border: 2px solid black;
}