/*********************************
***********Responsive*************
***********Design*****************
***********Breakpoints************
********************************/
$mobileView: 480px;
$tabletView: 920px;
$desktopView: 1024px;
/*********************************
***********Variables*************
********************************/
$globalPaddingDesktop:70px;

$globalPaddingMobile:20px;

$globalPadding: $globalPaddingDesktop;


/*********************************
***********Style Variables*******
********************************/

$accentColor: #e04242;
// $darkModeDark: #484848; light greyish black
$darkModeDark: #151320;
$darkModewhite: rgb(204, 204, 204);
$darkModeTextColor: white;
$darkModeTransition: ' background-color 0.5s ease-in-out,color 0.5s ease-in-out';
/*********************************
***********Style Classes*********
********************************/
.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // border: 2px solid black;
}




