@keyframes show {

    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes appear {
    0% {
        top: -4vh;

    }

    100% {
        top: 0px;
    }
}

@keyframes blink {
    0%{     background-color: white;    }
    49%{    background-color: white; }
    60%{    background-color: transparent; }
    99%{    background-color:transparent;  }
    100%{   background-color: white;    }

}

@keyframes type {
    0% {
        width: 0ch;
    }

    100% {
        width: 13.6ch;

    }

}

@keyframes float {

    0% {
        transform: translateY(0px)
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes show {

    from {
        // z-index: inherit;
        z-index: 3;
        // opacity: 0%;
        top: 60%;
    }

    to {
        z-index: 3;
        // opacity: 100%;
        top: 54%;
    }
}