*{
    margin:0;
    padding:0;
}
body{
    padding-bottom:0;
    /* background-color: #443b3b;; */
}



@keyframes renderElement {
    0% {
        opacity: 0;
        margin-top: 20vw;
    }

    100% {
        opacity: 100%;
        margin-top:8vw;
    }
}
