*{
    margin:0;
    padding:0;
}
body{
    padding-bottom:0;
    width: 100%;
    height:100%;
    overflow-x: hidden;
    /* background-color: #443b3b;; */
}



@keyframes renderElement {
    0% {
        // opacity: 0;
        // margin-top: 20vw;
        top:30vh
    }

    100% {
        // opacity: 100%;
        top:0vh;
        // margin-top:8vw;
    }
}
