@import '../assets/Global.scss';

#work {
    margin-top: 10vh;
    width: 100vw;
    padding: 20px $globalPadding;
    color: black;
    flex-direction: row;

    #projects {
        // padding: 20px 18%;
    }

}

@media (max-width: $mobileView) {
    #work {
        padding: 10px $globalPaddingMobile;
    }
}