@import '../assets/Global.scss';

#work {
    margin-top: 20vh;
    width: 100vw;
    padding: 20px $globalPadding;
    color: black;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: $mobileView) {
    #work {
        padding: 10px $globalPaddingMobile;
    }
}