@import '../assets/Global.scss';

#about-me {
    margin-top: 50px;
    width: 100vw;
    justify-content: space-evenly;
    padding: $globalPaddingDesktop;

    h2 {
        text-align: center;
    }

    #about-section,
    #skills-section {
        width: 50%;
    }

    #about-section {
        p {
            padding: 10px $globalPaddingDesktop;
        }
    }

    #skills-section {

        ol {
            padding: 10px $globalPaddingDesktop;

            list-style-type: none;

            li {
                width: 30%;
            }
        }
    }

}

@media (max-width:$mobileView) {
    #about-me {
        flex-direction: column;
        padding: $globalPaddingMobile;

        #about-section,
        #skills-section {


            width: 100%;
        }

        #about-section p {
            padding: 10px $globalPaddingMobile;
        }

        #skills-section ol {

            padding: 10px $globalPaddingMobile;

            list-style-type: none;

            li {
                width: 30%;
            }
        }
    }
}