@import '../assets/Global.scss';

#about-me {
    min-height: 35em;
    margin-top: 10em;
    margin-bottom: -8em;
    padding: 0 $globalPaddingDesktop;
    flex-direction: row;
    justify-content: space-evenly;
    // border:2px solid black;
    h2 {
        text-align: center;
    }
    
    #about-section,
    #skills-section {
        // border:2px solid black;
        width: 80%;
        margin: auto;
        text-align: center;
        justify-content: space-between;
    }

    #about-section {
        min-height:20%;

        p {
            padding: 10px $globalPaddingDesktop;
        }
    }

    #skills-section {
        min-height:20%;
        ol {
            margin: auto;

            // padding: 10px $globalPaddingDesktop;
            list-style-type: none;

            li {
                width: 30%;
            }
        }
    }

}

@media (max-width:$mobileView) {
    #about-me {
        flex-direction: column;
        padding: $globalPaddingMobile;

        #about-section,
        #skills-section {
            width: 100%;
        }

        #about-section p {
            padding: 10px $globalPaddingMobile;
        }

        #skills-section {
            ol {
                padding: 10px $globalPaddingMobile;
                list-style-type: none;
                width: 100%;

                li {
                    width: inherit/3;
                }
            }
        }
    }
}